.publicLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .container {
    flex: 1;
    padding-top: 48px;
    padding-bottom: 48px;
    margin: var(--headerHeight) 24px 0;
  }
}
